 <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slides').slick();
        });
    </script>

<div style="margin-top: 50px">
	<h1 class='title'>SweptAway</h1>
	<h3>A Chores Application</h3>
	<div class='slides' style='width: 20%'>
		<div><img src="/assets/swept1.png"></div>
		<div><img src="/assets/swept2.png"></div>
		<div><img src="/assets/swept3.png"></div>
	</div>
	<p>Sweptaway is a location base web application that allows users(clients) to post their chores and hire contractors to take on their task</p>


</div>
